@media only screen and (max-width:740px) {

	#timebar {
		width: 400px;
		height: 60px;
	}

	#tekst {
		height: 40px;
		width: 400px;
	}

	#uitleg {
		width: 400px;
	}

	#een {
		width: 400px;
		height: 230px;
	}

	#twee {
		width: 400px;
		height: 230px;
		float: left;
		margin-top: 7px
	}

	#drie {
		width: 400px;
		float: 
		height: 230px;
	}

	#vier {
		width: 400px;
	}

	#footer {
		width: 400px;
		height: 60px;
		float: 
		margin-top: 200px;
		margin: 480px  auto
	}

	#makers {
		margin-top: 30px;
	}

	.iccon {
		height: 25px;
		width: 25px;
		margin-top: 25px;
		margin-right: 5px;
	}

}
